<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Practice : List and Dictionary Comprehensions

---

Practice essentials of performing list and dictionary comprehensions in Python.

In [1]:
import numpy as np
import string


### Section 1: List comprehensions

##### 1) Add 1 to every element in the list.

In [16]:
numbers = [0,1,2,3,4,5,6,7,8,9]

    
num_1=[num+1 for num in numbers]
num_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#####  2) Binarize" n so that any value greater than or equal to the mean of n is 1, otherwise 0.

In [22]:
n = [1, 2, 7, 21, 3, 1, 62, 3, 34, 12, 73, 44, 12, 11, 9]


# num =[]
a = (sum(n)/len(n))
# for i in n:
#     if i>= a:
#         num.append(1)
#     else:
#         num.append(0)
# print(num)

[1 if i >= a else 0 for i in n]

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

#####  3) Get the square and square root of all non-negative numbers in the list.

In [43]:
n = [0, 1, 50, -23, -1, 75, -3]
import math
positive= []
# a = math.sqrt(i)

# for i in n:
#     if i >= 0:
#         positive.append(i**2)
# #         positive.append(a)
#     else:
#         continue
# print(positive)

positive = [i**2 if i>=0 else '' for i in n]
positive

[0, 1, 2500, '', '', 5625, '']

##### 4) Combine elements of these two lists item by item into list pairs:
result should be: `[['a', 'z'], ['b', 'y'], ['c', 'x'], ['d', 'w']]`

In [49]:
a = ['a','b','c','d']
z = ['z','y','x','w']


# az = []
# for i in a:
#     for j in z:
#         az.append(i+j)
# print(az)

print([str(a[i])+z[i] for i in range(len(a))])

['az', 'by', 'cx', 'dw']

##### 5) Pair each index and element in this list into list pairs:
result should be: `[[0, 'a'], [1, 'b'], [2, 'c'], [3, 'd']]`

In [71]:
a = ['a','b','c','d']
b =[]
for index, i in enumerate(a):
    b=[index, i]
    print(b)

### Section 2: Dictionary comprehensions

##### 6) Make a dictionary in which keys are animals and values are lists, storing the [ASCII](http://www.asciitable.com/) number value of each character in the key, eg `'dog': [100, 111, 103]`

Hint: Use the **`ord()`** function to convert characters into their ASCII values.

In [74]:
keys = ['dog', 'cat', 'bird', 'horse']

ascii_dict = {}

for animal in keys:
    ascii_values = [ord(char) for char in animal]
    ascii_dict[animal] = ascii_values

print(ascii_dict)

{'dog': [100, 111, 103], 'cat': [99, 97, 116], 'bird': [98, 105, 114, 100], 'horse': [104, 111, 114, 115, 101]}

##### 7) Create a dictionary with these column names and the corresponding column values.

In [76]:
column_names = ['height','weight','is_male']
values = [[62, 54, 60, 50], [180, 120, 200, 100], [True, False, True, False]]

dict = {}

for i, column_name in enumerate(column_names):
    dict[column_name] = values[i]

print(dict)

{'height': [62, 54, 60, 50], 'weight': [180, 120, 200, 100], 'is_male': [True, False, True, False]}